@use '../../styles/variables'as *;

.card {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.8;
  color: get-color(neutrals-black);
  height: 100%;
  min-height: 50rem;
  z-index: 0;

  // element covering the card, needed for animation
  &::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: get-color(neutrals-white);
    z-index: 10;
    transform: scaleX(1);
    transform-origin: right;
    transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

// element covering the card, needed for animation, on scroll scales to 0
.card.wrapper__isVisible::before {
  transform: scaleX(0);
}

.card_background {
  position: relative;
  height: 100%;
  transform: scale(1);
  transition: .4s ease;
  z-index: 0;
  overflow: hidden;
  background-color: get-color(main);
}

.projectName_wrapper {
  position: absolute;
  font-size: 3rem;
  top: 3rem;
  left: 3rem;
  display: flex;
  align-items: center;
  transition: .4s ease;
  z-index: 2;
}

.projectName_index {
  font-family: get-font(title);
  font-size: 1em;
  line-height: 1;
  color: get-color(neutrals-black);
}

.projectName {
  font-size: .7em;
  margin-left: .5em;
  font-weight: bold;
  line-height: 1;
}

.projectInfo_wrapper {
  position: relative;
  height: 100%;
  background-color: get-color(neutrals-black);
  color: get-color(neutrals-white);
  padding: 12rem 2em 2em;
  opacity: 0;
  transition: opacity .4s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.projectInfo_summary {
  font-size: 1em;
}

.projectInfo_links {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin: 1em 0;
}

// .linkItem {}

.projectInfo_linkIcon {
  display: inline-block;
  width: 1em;
  margin-right: .4em;
}

.projectInfo_link {
  margin: .8em 1em;
  font-weight: 600;
}


.projectInfo_tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.projectInfo_tag {
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.5em;
  margin: 0.7rem 0.5em;
  border-radius: 3px;
  background-color: #ddd;
  color: get-color(neutrals-black)
}

.button {
  color: get-color(neutrals-white);
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card_button {
  @extend .button;
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 2em;
  z-index: 2;
  transition: .4s ease;

  &:focus-visible,
  &:active {
    outline-color: get-color(neutrals-black);
    outline-offset: .2rem;
  }
}

.card_button__isOpen {
  top: 4rem;
  right: 4rem;

  &:focus-visible,
  &:active {
    outline-color: get-color(main);
  }
}

.project_link {
  @extend .button;
  margin-top: 2rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.project_link_icon {
  width: 2em;
  margin: 0 .5em;
  display: flex;
  align-items: center;
}

.card_img_wrapper {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.card_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  object-fit: contain;
  z-index: 0;
  width: 100%;
  height: 100%;
}

// If you want to add card hover effect take rules below and add to .card:hover
.card_background__isActive {
  @extend .card_background;
  transform: scale(.95);
}

.projectInfo_wrapper__isActive {
  @extend .projectInfo_wrapper;
  opacity: 1;
  visibility: initial;
}

.projectName_wrapper__isActive {
  @extend .projectName_wrapper;
  left: 0;
  font-size: 5rem;
}

.projectName__isActive {
  @extend .projectName;
  color: get-color(neutrals-white);
}

.projectName_index__isActive {
  @extend .projectName_index;
  color: get-color(main);
  ;
}



// Classes describing background color for each element

// .portfolio {
//   background-color: get-color(main);
// }

// .favouriteRecipes {
//   background-color: get-color(main);
// }

// .forum {
//   background-color: get-color(main);
// }

// .tripExpenses {
//   background-color: get-color(main);
// }

// .yogaHouse {
//   background-color: get-color(main);
// }

// .fotoStudio {
//   background-color: get-color(main);
// }