.section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr repeat(10, min(8.33%, 100px)) 1fr;
  grid-template-rows: 1fr 500px 1fr;
}

.banner {
  background-color: #A6CFBF;
  padding: 8rem 2rem;
  grid-column: 1/10;
  grid-row: 2/3;
}
.banner_content {
  grid-column: 2/10;
  grid-row: 2/3;
  align-self: center;
}
.banner_title {
  display: block;
  font-size: 7rem;
  font-family: "Yeseva One", cursive;
  line-height: 1;
  margin-bottom: 2rem;
}
.banner_subtitle {
  display: block;
  font-size: 40px;
}

@media (max-width: 900px) {
  .banner {
    grid-column: 1/-1;
  }
}
