@use '../../styles/variables'as *;

.section {
  position: relative;
  min-height: 100vh;
  background-color: get-color(neutrals-black);
  background-color: #333333;
  background-image: radial-gradient(#333, #222);
  color: get-color(neutrals-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: min(calc(2.8vw), 1.8rem);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6em 0;
}

.logo_wrapper {
  width: max(20rem, 12.5vw);
  margin: 1.5em;
  transform: scale(1.8);
  animation: scalelogomobile .4s ease 1s forwards;
}

@keyframes scalelogomobile {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scalelogo {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.title {
  font-size: max(20px, 3.5em);
  font-family: get-font(title);
  line-height: 1;
  margin: .3em .5em .2em;
}

.titleLetter {
  display: inline-block;
  min-width: .3em;
  opacity: 0;
  animation: title-animation .2s ease-in 1 forwards;
}

@for $i from 1 through 13 {
  .titleLetter:nth-child(#{$i}) {
    animation-delay: calc($i * 0.1s + 1.3s);
  }
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translate(-2em, -2em) skew(10deg, 10deg) rotateY(180deg) rotateZ(30deg);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) skew(0, 0) rotateY(0) rotateZ(0deg);
    filter: blur(0px);
  }

}

.subtitle {
  font-size: max(14px, 1.4em);
  padding: 0 1em .6em;
  overflow: hidden;
  color: #ddd;
}

.subtitleText {
  display: inline-block;
  opacity: 0;
  transform: translateY(2em);
  animation: subtitle .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2.5s forwards;
}

@keyframes subtitle {
  from {
    opacity: 0;
    transform: translateY(2em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow_wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 2em;
  margin: .5em;
  animation: jump 1.5s ease-in 4s infinite;
}

@keyframes jump {
  0% {
    transform: translate(-50%, 0)
  }

  60% {
    transform: translate(-50%, -.8em)
  }

  100% {
    transform: translate(-50%, 0em)
  }
}