@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.description {
  position: relative;
  z-index: 0;
  background-color: #444;
  font-size: 2rem;
  line-height: 1.8;

  display: grid;
  align-items: center;
  padding: 2em 2em;
}

.project_name {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  margin: 1em 0 1em;
  // font-family: get-font(title);
  position: relative;
  // left: -3em;
  // text-transform: uppercase;
}

.project_summary {
  font-size: 1.8rem;
}

.project_links {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.project_linkItem {
  margin: 0 2rem;
}

.project_link {
  margin: 1em;
  font-weight: 600;
}

.project_tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.project_tag {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.3em 1em;
  margin: 0.7rem 0.5em;
  border-radius: 1em;
  background-color: #ddd;
}

.photo {
  background-color: get-color(neutrals-white);
}

.dec_number {
  position: absolute;
  font-family: get-font(title);
  font-size: 18rem;
  // color: get-color(main);
  color: #fff;
  opacity: 0.3;
  line-height: 1;
  top: 0;
  right: 0;
  z-index: -1;
  // transform: translate(-25%, -40%);
}