@use './variables'as *;
@use './mixins'as *;
@use './variables'as *;

html {
  font-family: get-font(default);
  font-size: 10px;
  line-height: 1.45;
  color: get-color(neutrals-black);
  background-color: get-color(neutrals-white);
  // causing problems with duration option in react-scroll and scrolling in Chrome
  // scroll-behavior: smooth;   
}

@media (max-width: 800px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

body {
  min-height: 100vh;
  min-width: 300px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

body {

  // input,
  // textarea 
  // select,
  a,
  button {
    &:focus {
      outline-color: get-color(main);
      outline-offset: -.2rem;
      outline-style: dashed;
      outline-width: 1px;
    }
  }
}

*:link,
*:visited {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0.4em 0 0.5em;
}

ul {
  list-style: none;
}

@each $class,
$font-size in $header-sizes {

  #{$class} {
    font-size: $font-size;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.container {
  width: min($container-max-width, 100%);
  margin: 0 auto;
}