$colors: (main: #EF476F,
  main-darkened: #be3d5b,
  neutrals-black: #333,
  neutrals-white: #F9F9F9,
  neutrals-light-gray:#E5E5E5,
  form-error: #8b201c,
  form-success: #10664c);

@function get-color($color) {
  @return map-get($colors, $color)
}

$font-types: (default: ('Open Sans', sans-serif),
  title: ('Yeseva One', cursive));

@function get-font($type) {
  @return map-get($font-types, $type)
}

$header-sizes: (h1: 3.2rem, h2: 2.4rem, h3: 1.8rem, h4: 1.6rem, h5: 1.3rem);

$container-max-width: 1200px;
$smaller-container-max-width: 1000px;