@use '../../styles/variables'as *;

@mixin block-wrapper {
  display: grid;
  align-items: center;
  padding: 3em 1.5em;

  @media (max-width: 900px) {
    padding: 3em 10%;
  }
}

.description {

  font-size: 2rem;
  line-height: 1.8;

  @include block-wrapper;
}

.photo {
  @include block-wrapper;

}

@media (max-width: 900px) {
  .photo {
    position: relative;
    top: -3em;
  }
}

.img {
  position: relative;
  display: block;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  z-index: 1;

  & img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}