@for $i from 1 through 3 {
  .triangle:nth-child(#{$i}) {
    transform: translateX(0px);
    animation: move#{$i} 1s ease 4 alternate;
  }
}

@for $i from 1 through 3 {
  @keyframes move#{$i} {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(calc((3 - $i) * -15px));
    }
  }
}