@use '../../styles/variables'as *;

$breakpoint: 1000px;

.content_bg {
  background-color: get-color(main);
}

.content_bgClip {
  background-color: get-color(neutrals-light-gray);
  display: flex;
  clip-path: polygon(0 0, 70% 0, 100% 7%, 100% 100%, 30% 100%, 0 93%);

  @media (min-width: 1200px) {
    clip-path: polygon(5% 0, 100% 0, 100% 60%, 95% 100%, 0 100%, 0 40%);
  }
}

.content_wrapper {
  width: min($container-max-width, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  overflow: hidden;

  @media (min-width: $breakpoint) {
    justify-content: auto;
    margin: 0 auto;
    margin-top: 3em;
  }
}

