.section {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: [LM-l] 1fr [LB-l SH-l] repeat(5, min(8.33%, 120px)) [LB-r RB-l] repeat(5, min(8.33%, 120px)) [RB-r] 1fr;
  grid-template-rows: auto [LB-t RB-t] auto [RB-b LB-b] auto;
}
@media (max-width: 1200px) {
  .section {
    grid-template-columns: [LB-l SH-l] repeat(5, 1fr) [LB-r RB-l] repeat(5, 1fr) [RB-r];
  }
}
@media (max-width: 900px) {
  .section {
    grid-template-columns: [LB-l RB-l] 1fr [SH-l] repeat(11, 1fr) [LB-r RB-r];
    grid-template-rows: auto [LB-t] auto [LB-b RB-t] auto [RB-b] auto;
  }
}

.title {
  grid-column: SH-l/-1;
  grid-row: 1/2;
}

.form_container {
  grid-column: LB-l/LB-r;
  grid-row: LB-t/LB-b;
  background-color: #A6CFBF;
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.illustration {
  grid-column: RB-l/RB-r;
  grid-row: RB-t/RB-b;
  background-color: #F9F9F9;
  padding: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form {
  font-size: 16px;
  text-align: center;
}

.form_group {
  margin: 1.2em 0;
  text-align: left;
}

.form_label {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-bottom: 0.6em;
}

.form_input, .form_textarea {
  width: 100%;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #D0EEE2;
  padding: 0.5em;
  line-height: 1.5;
  border: none;
  border-bottom: 2px solid #333;
}

.form_textarea {
  height: 9em;
}

.form_button {
  align-self: center;
  padding: 0.6em 3em;
  margin: 1em 0;
  text-transform: uppercase;
  border: 2px solid #333;
}
.form_button:hover {
  cursor: pointer;
}
.form_button:focus-visible {
  outline: #333 1px dashed;
  outline-offset: 5px;
}

.form_error {
  font-size: 14px;
  margin-top: 0.6em;
  color: #8b201c;
}

.form_success {
  font-size: 14px;
  color: #10664c;
}

.illustration_picWrapper {
  margin: auto 0 auto;
}

.illustration_pic {
  width: 100%;
}
