.form_wrapper {
  width: min(700px, 100%);
  margin-bottom: 5em;
  background-color: #F9F9F9;
  transform: scaleX(0);
  transform-origin: left top;
}
@media (min-width: 1000px) {
  .form_wrapper {
    margin: 0 4em 6em;
  }
}

.form__visible {
  animation: revealformbg 0.8s ease-out forwards;
}

@keyframes revealformbg {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.form {
  font-size: 1.6rem;
  padding: 2em 2em;
  text-align: center;
  opacity: 0;
}

.form__visible .form {
  opacity: 1;
  transition: opacity 0.3s ease 0.7s;
}

.form_group {
  margin: 1.2em 0;
  text-align: left;
}

.form_label {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.form_input, .form_textarea {
  width: 100%;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #F9F9F9;
  padding: 0.3em;
  line-height: 1.45;
  border: none;
  border-bottom: 2px solid #333;
}

.form_textarea {
  height: 9em;
}

.form_button {
  align-self: center;
  padding: 0.6em 3em;
  margin: 1em 0;
  text-transform: uppercase;
  border: 2px solid #333;
  background-color: #F9F9F9;
  transform: translateY(0);
  transition: 0.4s ease;
}
.form_button:hover {
  cursor: pointer;
  transform: translateY(1px);
  color: #F9F9F9;
  background-color: #333;
}
.form_button:focus-visible {
  outline: #333 1px dashed;
  outline-offset: 5px;
}

.form_error {
  font-size: 14px;
  margin-top: 0.6em;
  color: #8b201c;
}

.form_success {
  font-size: 14px;
  color: #10664c;
}
