@use '../../styles/variables'as *;

$breakpoint: 1000px;

.form_wrapper {
  width: min(700px, 100%);
  margin-bottom: 5em;
  background-color: get-color(neutrals-white);
  transform: scaleX(0);
  transform-origin: left top;


  @media (min-width: $breakpoint) {
    margin: 0 4em 6em;
  }
}

.form__visible {
  animation: revealformbg .8s ease-out forwards;
}

@keyframes revealformbg {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.form {
  font-size: 1.6rem;
  padding: 2em 2em;
  text-align: center;
  opacity: 0;
}

.form__visible .form {
  opacity: 1;
  transition: opacity .3s ease 0.7s;
}

.form_group {
  margin: 1.2em 0;
  text-align: left;
}

.form_label {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-bottom: .5em;
}

.form_input {
  width: 100%;
  font-size: 1em;
  font-family: get-font(default);
  color: get-color(neutrals-black);
  background-color: get-color(neutrals-white);
  padding: .3em;
  line-height: 1.45;
  border: none;
  border-bottom: 2px solid get-color(neutrals-black);
}

.form_textarea {
  @extend .form_input;
  height: calc(6* 1.5 * 1em);
}

.form_button {
  align-self: center;
  padding: .6em 3em;
  margin: 1em 0;
  text-transform: uppercase;
  border: 2px solid get-color(neutrals-black);
  background-color: get-color(neutrals-white);
  transform: translateY(0);
  transition: .4s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(1px);
    color: get-color(neutrals-white);
    background-color: get-color(neutrals-black);
  }

  &:focus-visible {
    outline: #333 1px dashed;
    outline-offset: 5px;
  }
}

.form_error {
  font-size: 14px;
  margin-top: .6em;
  color: get-color(form-error);
}

.form_success {
  font-size: 14px;
  color: get-color(form-success);
}