@use '../../../styles/variables'as *;

.hamburger {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  color: get-color(neutrals-white);
}

.dark {
  color: get-color(neutrals-black);
}

.hidden {
  display: none;
}


.bg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 52px;
  border-bottom-left-radius: 5px;
  background-color: get-color(neutrals-white);

  &__open {
    display: none;
  }
}