.nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #F9F9F9;
  width: 150px;
  font-size: 1.6rem;
  padding: 3rem 0;
}
.nav_linkIcon {
  display: block;
  width: 3rem;
  margin: 4rem auto;
}
.nav_linkIcon:visited {
  color: #F9F9F9;
}
.nav_main {
  align-self: stretch;
  text-align: center;
}
.nav_list {
  list-style: none;
}
.nav_item {
  width: 100%;
}
.nav_link {
  display: block;
  position: relative;
  color: #F9F9F9;
  text-decoration: none;
  padding: 1.5rem;
  transition: 0.4s;
}
.nav_link::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  width: 0;
  background-color: #F9F9F9;
  transition: 0.4s;
}
.nav_link__active {
  color: #FEE2CD;
}
.nav_link:visited {
  color: #F9F9F9;
}
.nav_link:hover {
  color: #FEE2CD;
}
.nav_link:hover::after {
  width: 5rem;
  background-color: #FEE2CD;
}
