.nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  color: #F9F9F9;
  min-width: 13rem;
  padding: 3rem 0;
  transition: 0.3s;
  overflow: hidden;
  z-index: 10;
}
@media (max-width: 1400px) {
  .nav {
    width: 200px;
    font-size: 2rem;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .nav {
    width: 100%;
    height: 100vh;
  }
}
.nav__closed {
  position: fixed;
  top: -5rem;
  right: -7rem;
  width: 15rem;
  height: 13rem;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: #333;
  color: #F9F9F9;
}
.nav_content {
  opacity: 1;
  transform: translate(0, 0);
  transition: 0.3s 0.3s;
}
.nav_content__hidden {
  opacity: 0;
  transform: translate(0rem, -2rem);
}
.nav_hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.nav_linkIcon {
  display: block;
  width: 3rem;
  margin: 15rem auto 4rem;
}
.nav_linkIcon:visited, .nav_linkIcon:link {
  color: #F9F9F9;
}
.nav_main {
  align-self: stretch;
  text-align: center;
}
.nav_list {
  list-style: none;
}
.nav_item {
  width: 100%;
}
.nav_link {
  display: inline-block;
  position: relative;
  color: #F9F9F9;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem 0;
  transition: 0.4s;
}
.nav_link::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #F9F9F9;
  transition: 0.4s;
}
.nav_link:visited {
  color: #F9F9F9;
}
.nav_link:hover {
  color: #Fff;
  cursor: pointer;
}
.nav_link:hover::after {
  width: calc(100% - 3rem);
  background-color: #Fff;
}
.nav_link__active {
  color: #Fff;
}
.nav_link__active::after {
  width: calc(100% - 3rem);
  background-color: #Fff;
}
