.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 24px;
  z-index: 10;
}
@media (min-width: 500px) {
  .nav_container {
    width: 100vw;
    height: 7rem;
    font-size: 1.8rem;
  }
}

.nav_main, .nav_main__hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: #F9F9F9;
  transition: transform 0.2s ease-out;
}
@media (min-width: 500px) {
  .nav_main, .nav_main__hidden {
    flex-direction: row;
    margin: 0 auto;
    height: 100%;
    transition: none;
  }
}
.nav_main__hidden {
  transform: translateX(-100%);
}

.hamburger {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #F9F9F9;
}

.hamburger_bg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
}
.hamburger_bg__open {
  display: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: translateY(0);
  transition: opacity transform 1s ease-out;
}
@media (min-width: 500px) {
  .list {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em;
    width: min(100%, 600px);
  }
}
.list__hidden {
  opacity: 0;
  transform: translateY(-40%);
}

.link {
  display: inline-block;
  opacity: 0;
  position: relative;
  color: #F9F9F9;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transform: translateY(-40%);
  animation: animated-link 0.2s ease-out forwards;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #F9F9F9;
  transition: 0.4s;
}
.link:visited {
  color: #F9F9F9;
}
.link:hover {
  color: #FEE2CD;
  cursor: pointer;
}
.link:hover::after {
  width: calc(100% - 3rem);
  background-color: #FEE2CD;
}
.link__active {
  color: #FEE2CD;
}
.link__active::after {
  width: calc(100% - 3rem);
  background-color: #FEE2CD;
}

@keyframes animated-link {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
