@use '../../styles/variables'as *;

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: get-color(neutrals-black);
  display: grid;
  align-content: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  border: 3rem solid #ccc;
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  transform: scale(0.2);
  margin: -1.5rem 0 0 -1.5rem;
  opacity: 0;
  border-radius: 50%;

  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
    filter: blur(2px);
  }

  30% {
    transform: scale(.4);
    opacity: .6;
    filter: blur(5px);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
    filter: blur(15px);
  }
}