.content_wrapper {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 3rem;
}
@media (min-width: 550px) {
  .content_wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 900px) {
  .content_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .content_wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.link_wrapper {
  text-align: right;
  overflow: hidden;
  margin-bottom: 6rem;
}

.link {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(70%);
  transition: 0.4s ease;
  margin-right: 6rem;
}
.link::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 1em), -50%);
  width: 1em;
  height: 1em;
  background-image: url("../../assets/arrow-right.svg");
  background-size: 1em 1em;
  animation: movearrow 3s cubic-bezier(0.07, 0.55, 0.62, 0.96) infinite;
}
.link.link__isVisible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes movearrow {
  0% {
    transform: translate(calc(100% + 1em), -50%);
  }
  70% {
    transform: translate(calc(100% + 1em), -50%);
  }
  85% {
    transform: translate(calc(100% + 1.5em), -50%);
  }
  100% {
    transform: translate(calc(100% + 1em), -50%);
  }
}
