@use '../../styles/variables'as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: get-color(neutrals-white);
  background-image: linear-gradient(to right, get-color(neutrals-white) 50%, get-color(secondary) 50%);
}

@media (max-width: 900px) {
  .wrapper {
    background-image: none;
  }
}