.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F9F9F9;
  background-image: linear-gradient(to right, #F9F9F9 50%, 50%);
}

@media (max-width: 900px) {
  .wrapper {
    background-image: none;
  }
}
