.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F9F9F9;
  background-image: linear-gradient(to right, #F9F9F9 50%, 50%);
}

@media (max-width: 900px) {
  .wrapper {
    background-image: none;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #F9F9F9;
  font-size: 1.6rem;
  padding: 30px 0;
}

.heartIcon {
  width: 1em;
  margin: 0 0.5em 0 0.5em;
}
