@use '../../../styles/variables'as *;

%active-link-pseudo-element {
  display: block;
  content: ' ';
  position: absolute;
  top: 50%;
  left: -.2em;
  transform: translate(-50%, -50%) scaleX(.5);
  background-image: url('../../../assets/nav-link-active.svg');
  background-size: 1em 1.2em;
  background-repeat: no-repeat;
  height: 1.2em;
  width: 1em;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5em 1em;
  margin: .5em 0;

  &::after {
    @extend %active-link-pseudo-element;
    opacity: 0;
    transition: .3s ease-in;
    transition-property: transform, opacity;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    cursor: pointer;

    &::after {
      @extend %active-link-pseudo-element;
      transform: translate(0, -50%) scaleX(1);
      opacity: 1;
    }
  }

  &__active {

    &::after {
      @extend %active-link-pseudo-element;
      transform: translate(0, -50%) scaleX(1);
      opacity: 1;
    }
  }
}