.link__active::after, .link:hover::after, .link::after {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: -0.2em;
  transform: translate(-50%, -50%) scaleX(0.5);
  background-image: url("../../../assets/nav-link-active.svg");
  background-size: 1em 1.2em;
  background-repeat: no-repeat;
  height: 1.2em;
  width: 1em;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}
.link::after {
  opacity: 0;
  transition: 0.3s ease-in;
  transition-property: transform, opacity;
}
.link:visited {
  color: inherit;
}
.link:hover {
  cursor: pointer;
}
.link:hover::after {
  transform: translate(0, -50%) scaleX(1);
  opacity: 1;
}
.link__active::after {
  transform: translate(0, -50%) scaleX(1);
  opacity: 1;
}
