.link__active::after, .link:hover::after, .link::after, .link__active::before, .link:hover::before, .link::before {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  background-image: url("../../../assets/brace.svg");
  background-size: 0.45em 1.2em;
  background-repeat: no-repeat;
  width: 0.45em;
  height: 1.2em;
}

.link__active::before, .link:hover::before, .link::before {
  left: 0.2em;
  transform: translate(50%, -50%);
}

.link__active::after, .link:hover::after, .link::after {
  right: 0.2em;
  transform: translate(-50%, -50%) rotate(0.5turn);
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5em 1em;
}
.link::before {
  opacity: 0;
  transition: 0.3s ease-in;
  transition-property: transform, opacity;
}
.link::after {
  opacity: 0;
  transition: 0.3s ease-in;
  transition-property: transform, opacity;
}
.link:visited {
  color: inherit;
}
.link:hover {
  cursor: pointer;
}
.link:hover::before {
  transform: translate(30%, -50%);
  opacity: 1;
}
.link:hover::after {
  transform: translate(-30%, -50%) rotate(0.5turn);
  opacity: 1;
}
.link__active::before {
  transform: translate(0, -50%);
  opacity: 1;
}
.link__active::after {
  transform: translate(0, -50%) rotate(0.5turn);
  opacity: 1;
}
@media (min-width: 500px) {
  .link {
    margin: 0.5em 0;
  }
}
