.section {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: [LM-l] 1fr [LB-l SH-l] repeat(5, min(8.33%, 120px)) [LB-r RB-l] repeat(5, min(8.33%, 120px)) [RB-r] 1fr;
  grid-template-rows: auto [LB-t RB-t] auto [RB-b LB-b] auto;
}
@media (max-width: 1200px) {
  .section {
    grid-template-columns: [LB-l SH-l] repeat(5, 1fr) [LB-r RB-l] repeat(5, 1fr) [RB-r];
  }
}
@media (max-width: 900px) {
  .section {
    grid-template-columns: [LB-l RB-l] 1fr [SH-l] repeat(11, 1fr) [LB-r RB-r];
    grid-template-rows: auto [LB-t] auto [LB-b RB-t] auto [RB-b] auto;
  }
}

.title {
  grid-column: SH-l/-1;
  grid-row: 1/2;
}

.description {
  grid-column: LB-l/LB-r;
  grid-row: LB-t/LB-b;
  min-height: 400px;
  background-color: #F9F9F9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "group1 group2" "group1 group3";
}

.illustration {
  grid-column: RB-l/RB-r;
  grid-row: RB-t/RB-b;
  min-height: 400px;
  background-color: #F9F9F9;
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: center;
  padding: 1em;
}

.margin__deco {
  grid-column: 1/2;
  grid-row: RB-t/RB-b;
  position: relative;
}
.margin__deco::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #A6CFBF;
}

.skills_group1 {
  grid-area: group1;
}

.skills_group2 {
  grid-area: group2;
}

.skills_group3 {
  grid-area: group3;
}

.skills_title {
  position: relative;
  font-size: 3rem;
  text-transform: capitalize;
}
.skills_title:before {
  position: absolute;
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-200%, -50%);
  background-color: #A6CFBF;
}

.skills_list {
  list-style: none;
}

.skills_item {
  font-size: 2rem;
  margin: 0.5em 0;
}
