.skills_title {
  position: relative;
  font-size: 3rem;
  text-transform: capitalize;
}
.skills_title:before {
  position: absolute;
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-200%, -50%);
  background-color: #A6CFBF;
}

.skills_list {
  list-style: none;
}

.skills_item {
  font-size: 2rem;
  margin: 0.5em 0;
}
