.sectionHeader_wrapper {
  display: inline-block;
  position: relative;
  margin-top: calc(6rem + 0.6em);
  margin-bottom: 1em;
  margin-left: calc(2rem + 1em);
  font-size: 6rem;
  line-height: 1;
}
.sectionHeader_wrapper::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-200%, -5%);
  background-image: url("../../assets/brace.svg");
  background-size: 0.33em 1.1em;
  background-repeat: no-repeat;
  height: 1.1em;
  width: 0.33em;
  opacity: 0;
}
.sectionHeader_wrapper::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(200%, -5%) rotate(0.5turn);
  background-image: url("../../assets/brace.svg");
  background-size: 0.33em 1.1em;
  background-repeat: no-repeat;
  height: 1.1em;
  width: 0.33em;
  opacity: 0;
}
@media (min-width: 500px) {
  .sectionHeader_wrapper {
    margin-left: calc(6rem + 1em);
  }
}

.sectionHeader {
  position: relative;
  display: inline-block;
  font-family: "Yeseva One", cursive;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  padding-bottom: 5px;
}

.letter {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
}

.sectionHeader__isVisible .letter {
  animation: typeletter 0.13s ease-out forwards;
}

@keyframes typeletter {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sectionHeader__isVisible .letter:nth-child(1) {
  animation-delay: 0.13s;
}

.sectionHeader__isVisible .letter:nth-child(2) {
  animation-delay: 0.26s;
}

.sectionHeader__isVisible .letter:nth-child(3) {
  animation-delay: 0.39s;
}

.sectionHeader__isVisible .letter:nth-child(4) {
  animation-delay: 0.52s;
}

.sectionHeader__isVisible .letter:nth-child(5) {
  animation-delay: 0.65s;
}

.sectionHeader__isVisible .letter:nth-child(6) {
  animation-delay: 0.78s;
}

.sectionHeader__isVisible .letter:nth-child(7) {
  animation-delay: 0.91s;
}

.sectionHeader__isVisible .letter:nth-child(8) {
  animation-delay: 1.04s;
}

.sectionHeader__isVisible::before, .sectionHeader__isVisible::after {
  opacity: 1;
  transition: opacity ease 0.5s 0.8s;
}
