@use '../../styles/variables'as *;

.sectionHeader {
  position: relative;
  display: inline-block;
  font-family: get-font(title);
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin-top: calc(5rem + .6em);
  margin-bottom: 1em;
  margin-left: calc(1em);

  &::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-200%, -5%);
    background-image: url('../../assets/brace.svg');
    background-size: .33em 1.1em;
    background-repeat: no-repeat;
    height: 1.1em;
    width: .33em;
    opacity: 0;
  }

  &::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(200%, -5%) rotate(0.5turn);
    background-image: url('../../assets/brace.svg');
    background-size: .33em 1.1em;
    background-repeat: no-repeat;
    height: 1.1em;
    width: .33em;
    opacity: 0;
  }
}

.letter {
  display: inline-block;
  opacity: 0;
}

.sectionHeader_show .letter {
  animation: typeletter .1s linear forwards;
}

@keyframes typeletter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@for $i from 1 to 9 {
  .sectionHeader_show .letter:nth-child(#{$i}) {
    animation-delay: calc($i * .1s);
  }
}

.sectionHeader_show {

  &::before,
  &::after {
    opacity: 1;
    transition: opacity linear .2s .8s;
  }
}