.sectionHeader {
  position: relative;
  font-family: "Yeseva One", cursive;
  font-size: 6rem;
  z-index: 0;
  margin: 15rem 0 5rem 7rem;
}
.sectionHeader::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -3rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #Fff;
  z-index: -1;
}
