@use '../../styles/variables'as *;

.sectionHeader_wrapper {
  display: inline-block;
  position: relative;
  margin: calc(5.5rem + .6em) 0.7em 0.3em;
  padding: 0;
  font-size: 5.5rem;
  line-height: 1;

  &::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-200%, -5%);
    background-image: url('../../assets/brace.svg');
    background-size: .33em 1.1em;
    background-repeat: no-repeat;
    height: 1.1em;
    width: .33em;
    opacity: 0;
  }

  &::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(200%, -5%) rotate(0.5turn);
    background-image: url('../../assets/brace.svg');
    background-size: .33em 1.1em;
    background-repeat: no-repeat;
    height: 1.1em;
    width: .33em;
    opacity: 0;
  }

  @media(max-width: 300px) {
    font-size: 5rem;
  }
}

.sectionHeader {
  position: relative;
  display: inline-block;
  font-family: get-font(title);
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  padding-bottom: 5px;
}

.letter {
  position: relative;
  display: inline-block;
  transform: translateY(100%) skew(0deg, 20deg);
}

.sectionHeader__isVisible .letter {
  animation: typeletter .25s ease-out forwards;
}

@keyframes typeletter {
  0% {
    opacity: 0;
    transform: translateY(100%) skew(0, 30deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) skew(0, 0deg);
  }
}

@for $i from 1 to 9 {
  .sectionHeader__isVisible .letter:nth-child(#{$i}) {
    animation-delay: calc($i * .1s);
  }
}

.sectionHeader__isVisible {

  &::before {
    animation: fadeinleftbracket .5s cubic-bezier(.17, .67, .83, .67) .3s forwards;
  }

  &::after {
    animation: fadeinrightbracket .5s cubic-bezier(.17, .67, .83, .67) .3s forwards;
  }
}

@keyframes fadeinleftbracket {
  0% {
    opacity: 0;
    transform: translate(-200%, -5%);
  }

  70% {
    opacity: .7;
    transform: translate(-250%, -5%);
  }

  100% {
    opacity: 1;
    transform: translate(-200%, -5%);
  }
}

@keyframes fadeinrightbracket {
  0% {
    opacity: 0;
    transform: translate(200%, -5%) rotate(0.5turn);
  }

  70% {
    opacity: .7;
    transform: translate(250%, -5%) rotate(0.5turn);
  }

  100% {
    opacity: 1;
    transform: translate(200%, -5%) rotate(0.5turn);
  }
}