@use '../../styles/variables'as *;

.sectionHeader {
  position: relative;
  font-family: get-font(title);
  font-size: 6rem;
  line-height: 1;
  z-index: 0;
  margin: calc(7rem + .6em) calc(1em + 5vh) 1em;

  &::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, -50%);
    background-image: url('../../assets/two-triangles.svg');
    background-size: .8em 1em;
    background-repeat: no-repeat;
    height: 1em;
    width: 0.8em;
    z-index: -1;
  }
}