.sectionHeader_wrapper {
  display: inline-block;
  position: relative;
  margin: calc(6rem + 0.6em) 0.7em 0.3em;
  padding: 0;
  font-size: 6rem;
  line-height: 1;
}
.sectionHeader_wrapper::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-200%, -5%);
  background-image: url("../../assets/brace.svg");
  background-size: 0.33em 1.1em;
  background-repeat: no-repeat;
  height: 1.1em;
  width: 0.33em;
  opacity: 0;
}
.sectionHeader_wrapper::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(200%, -5%) rotate(0.5turn);
  background-image: url("../../assets/brace.svg");
  background-size: 0.33em 1.1em;
  background-repeat: no-repeat;
  height: 1.1em;
  width: 0.33em;
  opacity: 0;
}
@media (max-width: 300px) {
  .sectionHeader_wrapper {
    font-size: 5rem;
  }
}

.sectionHeader {
  position: relative;
  display: inline-block;
  font-family: "Yeseva One", cursive;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  padding-bottom: 5px;
}

.letter {
  position: relative;
  display: inline-block;
  transform: translateY(100%) skew(0deg, 20deg);
}

.sectionHeader__isVisible .letter {
  animation: typeletter 0.25s ease-out forwards;
}

@keyframes typeletter {
  0% {
    opacity: 0;
    transform: translateY(100%) skew(0, 30deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) skew(0, 0deg);
  }
}
.sectionHeader__isVisible .letter:nth-child(1) {
  animation-delay: 0.1s;
}

.sectionHeader__isVisible .letter:nth-child(2) {
  animation-delay: 0.2s;
}

.sectionHeader__isVisible .letter:nth-child(3) {
  animation-delay: 0.3s;
}

.sectionHeader__isVisible .letter:nth-child(4) {
  animation-delay: 0.4s;
}

.sectionHeader__isVisible .letter:nth-child(5) {
  animation-delay: 0.5s;
}

.sectionHeader__isVisible .letter:nth-child(6) {
  animation-delay: 0.6s;
}

.sectionHeader__isVisible .letter:nth-child(7) {
  animation-delay: 0.7s;
}

.sectionHeader__isVisible .letter:nth-child(8) {
  animation-delay: 0.8s;
}

.sectionHeader__isVisible::before {
  animation: fadeinleftbracket 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s forwards;
}
.sectionHeader__isVisible::after {
  animation: fadeinrightbracket 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s forwards;
}

@keyframes fadeinleftbracket {
  0% {
    opacity: 0;
    transform: translate(-200%, -5%);
  }
  70% {
    opacity: 0.7;
    transform: translate(-250%, -5%);
  }
  100% {
    opacity: 1;
    transform: translate(-200%, -5%);
  }
}
@keyframes fadeinrightbracket {
  0% {
    opacity: 0;
    transform: translate(200%, -5%) rotate(0.5turn);
  }
  70% {
    opacity: 0.7;
    transform: translate(250%, -5%) rotate(0.5turn);
  }
  100% {
    opacity: 1;
    transform: translate(200%, -5%) rotate(0.5turn);
  }
}
