html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 1.45;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2rem;
}

.h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

.h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

.h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

.h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.3rem;
}

.h5 {
  font-size: 1.3rem;
}
