html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1.45;
  color: #333;
  background-color: #F9F9F9;
}

body {
  min-height: 100vh;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: #fff 1px dashed;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.3rem;
}
