@mixin letter-animation($animation-name, $path-length, $start-draw) {
  @keyframes #{$animation-name} {
    0% {
      stroke-dashoffset: $path-length;
      stroke-opacity: 1;
      fill-opacity: 0;
    }

    #{$start-draw} {
      stroke-dashoffset: $path-length;
      stroke-opacity: 1;
      fill-opacity: 0;
    }

    75% {
      stroke-dashoffset: 0%;
      stroke-opacity: 1;
      fill-opacity: 0;
    }

    100% {
      stroke-dashoffset: 0%;
      stroke-opacity: 0;
      fill-opacity: 1;
    }
  }
}

.letterA__animated {
  stroke-dasharray: 1100px;
  stroke-dashoffset: 1100px;
  stroke-opacity: 1;
  fill-opacity: 0;
  animation: drawletterA 1.3s linear forwards;
}

@include letter-animation(drawletterA, 1100px, 1%);

.letterP__animated {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  stroke-opacity: 1;
  fill-opacity: 0;
  animation: drawletterP 1.3s linear forwards;
}

@include letter-animation(drawletterP, 500px, 35%);