.wrapper {
  display: flex;
  margin-bottom: -2rem;
  background-color: #333;
  color: #F9F9F9;
  opacity: 0;
  animation: showheader 0.4s ease forwards;
}

@keyframes showheader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: min(1200px, 90%);
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 0 1rem 0;
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 1.3;
  margin: 1.3em 0.5em;
}
@media (min-width: 1000px) {
  .link {
    margin: 1.3em 0.5em 1.3em 2.5em;
  }
}

.logo_wrapper {
  display: grid;
  align-content: center;
  width: 2.1em;
  margin-right: 1em;
  opacity: 0;
  animation: showlogo 0.7s ease 0.6s forwards;
}

@keyframes showlogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text_span1 {
  display: block;
  overflow: hidden;
  font-size: 1.1em;
}

.text_span2 {
  display: block;
  overflow: hidden;
  font-size: 0.8em;
}

.text_span1_inner {
  display: inline-block;
  transform: translateY(80%);
  opacity: 0;
  animation: showtext 0.4s ease 0.4s forwards;
}

.text_span2_inner {
  display: inline-block;
  transform: translateY(80%);
  opacity: 0;
  animation: showtext 0.4s ease 0.6s forwards;
}

@keyframes showtext {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
